#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# See FEATURE AREAS in dpkg-buildflags(1).
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1).
# Package maintainers to append CFLAGS.
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append LDFLAGS.
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

include /usr/share/dpkg/pkg-info.mk

export GOPROXY ?= direct
export GO111MODULE := on

export DRONE_TAG != dpkg-parsechangelog --show-field Version | sed 's|-1||g'

export CGO_ENABLED := 1
export CGO_LDFLAGS := $(LDFLAGS)
export CGO_CPPFLAGS := $(CPPFLAGS) -fdebug-prefix-map=$(CURDIR)=. -ffile-prefix-map=$(CURDIR)=. -fno-ident -fno-guess-branch-probability
export CGO_CFLAGS := $(CFLAGS) -fdebug-prefix-map=$(CURDIR)=. -ffile-prefix-map=$(CURDIR)=. -fno-ident -fno-guess-branch-probability
export CGO_CXXFLAGS := $(CXXFLAGS) -fdebug-prefix-map=$(CURDIR)=. -ffile-prefix-map=$(CURDIR)=. -fno-ident -fno-guess-branch-probability
export GOFLAGS := -buildmode=pie -trimpath -mod=vendor -modcacherw -buildvcs=false
export GOLDFLAGS := -linkmode=external
export NODE_PATH := /tmp/.node
export PATH := $(PATH):$(NODE_PATH)/node_modules/.bin
export VERSION := $(DEB_VERSION_UPSTREAM)
export DATE := $(shell date -d @$(SOURCE_DATE_EPOCH) +%Y%m%d)

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -Docis -- ci-node-generate
	dh_auto_build -Docis -- ci-go-generate build prefix=/usr

override_dh_auto_test:

override_dh_installsystemd:
	dh_installsystemd --name=ocis
	# This is a hack to fix broken dh_installsysusers
	dh_installsysusers --name=ocis

override_dh_installtmpfiles:
	dh_installtmpfiles --name=ocis

override_dh_installsysusers:
	dh_installsysusers --name=ocis

execute_before_dh_auto_build:
	mkdir -p $(NODE_PATH)
	npm --prefix=$(NODE_PATH) install pnpm@latest-10

# Fix strip error
.IGNORE: override_dh_strip
override_dh_strip:
	dh_strip -a
.IGNORE: override_dh_dwz
override_dh_dwz:
	dh_dwz -a

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/$(DEB_HOST_GNU_TYPE)/lib
# dh_make generated override targets.
# This is an example for Cmake (see <https://bugs.debian.org/641051>).
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)
